@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #fef9f2;
}

.panel-ctn {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
}

.panel-ctn strong {
  line-height: 20px;
}

.ratings-ctn {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating img {
  width: 40px;
}
.rating.active,
.rating:hover {
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.btn {
  border-radius: 5px;
  background-color: #302d2b;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px 30px;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
