.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 10px;
  position: relative;
  transition: all 500ms ease-in-out;
}

.panel h3 {
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 30px;
  transition: opacity 500ms ease-in-out;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}
