body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  margin: 0;
}

.ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.square {
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
}

.square:hover {
  transition-duration: 0s;
}
